---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="bg-pink-400 p-1 mx-1 transition ease-in-out duration-200 hover:bg-pink-600"
>
  <slot />
</a>
